@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

* {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1f2937;
}

header {
   font-size: 18px;
    color: #E5E7EB;
    padding: 20px 400px 100px 400px;
}

header a {
    font-size: 18px;
     color: #E5E7EB;
 }


 .navbar {
    display: flex;
    justify-content: space-between;
 }

 
header h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.hero-section img {
    width: 400px;
    height: auto;
}

.hero-section-text {
    padding-right: 200px;
}

#logo  {
    font-size: 24px;
    color: #F9FAF8;
}

#portfolio h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

#quote_section {
    background-color: #E5E7EB;
}

#quote_section q {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#callto_flexbox {
    background-color: #3882F6;
}

#callto_flexbox button {
    background-color: #3882F6;
}