@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1f2937;
}

header {
   font-size: 18px;
    color: #E5E7EB;
}

header a {
    font-size: 18px;
     color: #E5E7EB;
 }

#herotext h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

#logo  {
    font-size: 24px;
    color: #F9FAF8;
}

#portfolio h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

#quote_section {
    background-color: #E5E7EB;
}

#quote_section q {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#callto_flexbox {
    background-color: #3882F6;
}

#callto_flexbox button {
    background-color: #3882F6;
}